In [1]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [2]:
DB_URI = "mysql+pymysql://root:123456@localhost:3306/sql_store"
%sql $DB_URI

In [3]:
%%sql
SELECT *
FROM customers
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/sql_store
10 rows affected.

[(1, 'Babara', 'MacCaffrey', datetime.date(1986, 3, 28), '781-932-9754', '0 Sage Terrace', 'Waltham', 'VA', 2273),
 (2, 'Ines', 'Brushfield', datetime.date(1986, 4, 13), '804-427-9456', '14187 Commercial Trail', 'Hampton', 'VA', 947),
 (3, 'Freddi', 'Boagey', datetime.date(1985, 2, 7), '719-724-7869', '251 Springs Junction', 'Colorado Springs', 'CO', 2967),
 (4, 'Ambur', 'Roseburgh', datetime.date(1974, 4, 14), '407-231-8017', '30 Arapahoe Terrace', 'Orlando', 'FL', 457),
 (5, 'Clemmie', 'Betchley', datetime.date(1973, 11, 7), None, '5 Spohn Circle', 'Arlington', 'TX', 3675),
 (6, 'Elka', 'Twiddell', datetime.date(1991, 9, 4), '312-480-8498', '7 Manley Drive', 'Chicago', 'IL', 3073),
 (7, 'Ilene', 'Dowson', datetime.date(1964, 8, 30), '615-641-4759', '50 Lillian Crossing', 'Nashville', 'TN', 1672),
 (8, 'Thacher', 'Naseby', datetime.date(1993, 7, 17), '941-527-3977', '538 Mosinee Center', 'Sarasota', 'FL', 205),
 (9, 'Romola', 'Rumgay', datetime.date(1992, 5, 23), '559-181-3744', '3520 Ohio Trail', 'Visalia', 'CA', 1486),
 (10, 'Levy', 'Mynett', datetime.date(1969, 10, 13), '404-246-3370', '68 Lawn Avenue', 'Atlanta', 'GA', 796)]